@import './layout.scss';

@mixin btn($size:14px,$color:#fff,$bgcolor:#F04752,$padding:5px,$radius:5px) {
    padding: $padding;
    background-color: $bgcolor;
    border-radius: $radius;
    border: 1px solid $bgcolor;
    font-size: $size;
    color: $color;
    text-align: center;
    line-height: 1;
    display: inline-block;
  }

@mixin list($direction:column) {
    @include flex($direction);
}

@mixin panel($bgcolor:#fff,$padding:0,$margin:10px,$height:56px,$txtPadding:0 16px,$color:#333,$fontSize:16px) {
    background: $bgcolor;
    padding: $padding;
    >h4{ //标题
        height: $height;
        line-height: $height;
        padding: $txtPadding;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
        color: $color;
        font-size: $fontSize;
        margin: 0 auto;
    }
}